## Python MySQL Database Connection using MySQL Connector

In this lesson, you will learn how to connect the MySQL database in Python using the <b>`MySQL Connector Python` </b>module, and all the CRUD operation in Database. This Python MySQL tutorial demonstrates how to develop and integrate Python applications with a MySQL database server.

In Python, We can use the following modules to communicate with MySQL.

 - `MySQL Connector Python`
 - `PyMySQL`
 - `MySQLDB`
 - `MySqlClient`
 - `OurSQL`

### Note:
Above all interfaces or modules are adhere to <a href='https://www.python.org/dev/peps/pep-0249/'>Python Database API Specification v2.0 (PEP 249)</a> that means the <b>`syntax, method, and way of access the database is the same in all`</b>.

PEP 249 is designed to encourage and maintain similarity between the Python modules that are used to access databases. By doing this, above all modules are following rules defined in Python Database API Specification v2.0 (PEP 249).

You can choose any of the above modules as per your requirements. The way of accessing the MySQL database remains the same. I recommend you to use any of the following two modules:-

 - `MySQL Connector Python`
 - `PyMySQL`

### Note: 
This tutorial focuses on the MySQL Connector Python module. All examples are created using MySQL Connector Python.

## Advantages and benefits of MySQL Connector Python: –

 - MySQL Connector Python is written in pure Python, and it is self-sufficient to execute database queries through Python.
 - It is an official Oracle-supported driver to work with MySQL and Python.
 - It is Python 3 compatible, actively maintained.
 
 ### Table of contents
 
 - How to connect MySQL database in Python
   - Arguments required to connect
 - Create MySQL table from Python
 - Python MySQL CRUD Operation
 - Python MySQL Connection arguments list
   - Use the Dictionary to keep MySQL Connection arguments
 - Change MySQL Connection Timeout from Python
 - Connect to MySQL Using Connector Python C Extension
 - Next Steps:

## How to connect MySQL database in Python

Let’s see how to connect the MySQL database in Python using the ‘MySQL Connector Python’ module.

## Arguments required to connect
You need to know the following detail of the MySQL server to perform the connection from Python.

| Argument |  Description |
|---|---|
| Username  | The username that you use to work with MySQL Server. The default username for the MySQL database is a `root`. | 
| Password  | Password is given by the user at the time of installing the MySQL server. If you are using root then you won’t need the password. |  
| Host name | The server name or Ip address on which MySQL is running. if you are running on localhost, then you can use localhost or its IP `127.0.0.0` |
| Database name | The name of the database to which you want to connect and perform the operations. |

### How to Connect to MySQL Database in Python

#### 1. Install MySQL connector module
Use the pip command to <a href='https://pynative.com/install-mysql-connector-python/'>install MySQL connector Python</a>.

`pip install mysql-connector-python`

In [10]:
# pip install mysql-connector-python

#### 2. Import MySQL connector module
Import using a `import mysql.connector` statement so you can use this module’s methods to communicate with the MySQL database.

In [37]:
import mysql.connector

#### 3. Use the connect() method
Use the `connect()` method of the MySQL Connector class with the required arguments to connect MySQL. It would return a `MySQLConnection` object if the connection established successfully

In [38]:
connection = mysql.connector.connect(host='localhost',
                                     database='mydb',
                                     user = 'nijat',
                                     password = 'nijat123')

#### 4. Use the cursor() method
Use the `cursor()` method of a `MySQLConnection` object to create a cursor object to perform various SQL operations.

In [33]:
 mySql_Create_Table_Query = """
                DROP TABLE IF EXISTS FIRST_TABLE;
                CREATE TABLE FIRST_TABLE(
                NAME VARCHAR(20),
                ADDRESS VARCHAR(50),
                AGE INT);
                """
cursor = connection.cursor()

#### 5. Use the execute() method
The `execute()` methods run the SQL query and return the result.

In [21]:
result = cursor.execute(mySql_Create_Table_Query,multi=True) # we use multi = True if we wnat to execute multiple statment 
print("First_table created successfully:")

First_table created successfully:

#### 6. Extract result using <a heref='https://pynative.com/python-cursor-fetchall-fetchmany-fetchone-to-read-rows-from-table/'>`fetchall()`</a>
Use `cursor.fetchall()` or `fetchone()` or `fetchmany()` to read query result.

In [28]:
cursor.execute("select database();")
record = cursor.fetchone()
print("You're connected to database:",record)

You're connected to database: ('mydb',)

#### 7. Close cursor and connection objects
use `cursor.clsoe()` and `connection.clsoe()` method to close open connections after your work completes

<img src='python.png'>

In [30]:
cursor.close()
connection.close()

Run the below query on the MySQL console if you have not created any database in MySQL. Otherwise, you can skip the below query.

`Create Database in MySQL`


### Example to connect to MySQL Database in Python
now let's put all together

In [42]:
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user = 'nijat',
                                         password='nijat123')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version:",db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database:",record)
        
except Error as e:
    print("Error while connecting to MySQL:",e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed.")

Connected to MySQL Server version: 8.0.25
You're connected to database: ('mydb',)
MySQL connection is closed.

#### Now let's create a table

In [49]:
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user = 'nijat',
                                         password='nijat123')
    
    mySql_Create_Table_Query = """
                drop table if exists staff;
                create table staff(
                ID int, 
                Staff_NAME varchar(50),
                Staff_AGE int,
                STAFF_ADDRESS varchar(50),
                Monthley_Package int,
                primary key (ID));
                """
    if connection.is_connected():
        cursor = connection.cursor()
        result = cursor.execute(mySql_Create_Table_Query,multi=True)
        print("Staff table created successfully:")
        
except Error as e:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Staff table created successfully:
MySQL connection is closed

## Points to remember

- <b>Catch exceptions</b> that may occur during this process by importing the Error class from the MySQL connector module using a `from mysql.connector import Error statement`.
   Error class is useful to debug when we failed to connect to MySQL. For example, ACCESS DENIED ERROR when    the username or password is wrong.
   
 - The `connect()` method can throw a Database error exception if one of the required parameters is wrong. For example, if you provide a database name that is not present in MySQL.
 
- The `is_connected()` is the method of the `MySQLConnection` class through which we can verify is our Python application connected to MySQL.

 - At last, we are closing the MySQL database connection using a `close()` method of MySQLConnection class.

## Python MySQL CRUD Operation

Now we will demonstrates how to execute INSERT Query from Python to add a new row into the MySQL table.
you’ll learn the following Python MySQL insert operations using a `MySQL Connector` module.

 - Insert single and multiple rows into the database table.
 - Use a parameterized query to insert a Python variable value (Integer, string, float, double, and DateTime) into a database table.

### Table of contents
 - Prerequisite
 - Insert a Single Row into MySQL table from Python
 - Use Python Variables in a MySQL Insert Query
 - Insert multiple rows into MySQL table using the cursor’s executemany()
 - Insert timestamp and DateTime into a MySQL table using Python

#### Prerequisite
Before moving further, Please make sure you have the following in place: –

 - Username and password to connect MySQL
 - MySQL table name in which you want to insert data.
I have created a table Staff in the MySQL server to insert records in it. See its column structure in the image.

<img src = 'sttaf.png'>

#### Insert a Single Row into MySQL table from Python

How to Insert Into MySQL table from Python

 - Connect to MySQL from Python
 - Define a SQL Insert query
    - Next, prepare a SQL INSERT query to insert a row into a table. 
      in the insert query, we mention column   names and their values to insert in a table.
      For example.<br>
      `INSERT INTO mysql_table (column1, column2, …) VALUES (value1, value2, …);`
 - Get Cursor Object from Connection
    - Next, use a `connection.cursor()` method to create a cursor object. This method creates a new `MySQLCursor` object.
 - Execute the insert query using execute() method
    - Execute the insert query using the cursor.execute() method. This method executes the operation stored in the Insert query.
 - Commit your changes
   - After the successful execution of a query make changes persistent into a database using the `commit()` of a connection class.
   
 - Get the number of rows affected
    - After a successful insert operation, use a `cursor.rowcount` method to get the number of rows affected. The count depends on how many rows you are Inserting.
    
 - Verify result using the SQL SELECT query
     - Execute a MySQL select query from Python to see the new changes.

 - Close the cursor object and database connection object
      - use `cursor.clsoe()` and `connection.clsoe()` method to close open connections after your work completes.

## Example of insert query

In [ ]:
# let's import the mysql.connector 

import mysql.connector 
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    mysql_insert_query = """
                        insert into staff(
                        id, staff_name, staff_age, staff_address, Monthley_Package)
                        values(1,"ARYAN",22, "MUMBAI",18000);
                         """
    cursor = connection.cursor()
    cursor.execute(mysql_insert_query)
    connection.commit()
    print(cursor.rowcount,"Record inserted successfully into Sttaf tabl.")
    cursor.close()
    
except Error as e:
    print("Failed to insert record into staff table  {}".format(e))

finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

### Use Python Variables in a MySQL Insert Query

Sometimes you need to insert a Python variable value into a table’s column. For example, in the user signup form user enter his/her details. You can take those values in Python variables and insert them into a table.

 - We can insert Python variables into the table using the prepared statement and parameterized query.
 - Using a parameterized query, we can pass Python variables as a query parameter in which placeholders (%s) used for parameters.

In [54]:
# let's import the mysql.connector 

import mysql.connector 
from mysql.connector import Error
def insert_varibles_into_table(id,staff_name,staff_age,staff_address,Monthley_pakage):
    try:
        connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
        mysql_insert_query = """
                        insert into staff(
                        id, staff_name, staff_age, staff_address, Monthley_package)
                        values(%s,%s,%s,%s,%s); 
                        
                        """
        record = (id,staff_name,staff_age,staff_address,Monthley_pakage)
        cursor = connection.cursor()
        cursor.execute(mysql_insert_query,record)
        connection.commit()
        print(cursor.rowcount,"Record inserted successfully into Sttaf tabl.")
        cursor.close()
    
    except Error as e:
        print("Failed to insert record into staff table  {}".format(e))

    finally:
        if connection.is_connected():
            connection.close()
            print("MySQL connection is closed")
        
insert_varibles_into_table(2,"SHUHIL",32,"DHILI",20000)
insert_varibles_into_table(3,"MONTY",25,"MOHALI",22000)

1 Record inserted successfully into Sttaf tabl.
MySQL connection is closed
1 Record inserted successfully into Sttaf tabl.
MySQL connection is closed

the result you can see in the image bellow.<br><br>
<img src = 'result.png'>

### Insert multiple rows into MySQL table using the cursor’s executemany()

In the previous example, we have used `execute()` method of cursor `object` to insert a single record.

What if you want to insert multiple rows into a table in a single insert query from the Python application. Use the cursor’s `executemany()` function to insert multiple records into a table.

Syntax of the `executemany()` method.<br><br>
`cursor.executemany(operation, seq_of_params)`

This method executes Insert `operation` against all parameter sequences in the sequence `seq_of_params` argument.

You need to include lists of tuples in the `seq_of_params` argument along with the insert query.

Each tuple inside the list contains a single row that you want to insert. So you can add as many rows in the list and pass a list to a `cursor.executemany()` function along with the insert query.

<b>Note:</b> Each tuple is enclosed within parentheses and separated by commas. For example, to insert multiple rows in a staff table, we can use the following SQL Query:

`INSERT INTO Laptop (Id, Name, Price, Purchase_date) VALUES (%s, %s, %s, %s)`

And in seq_of_params we are passing the below List.

In [56]:
records_to_insert =[(4,"AMIT",20,"AHMADABAD",12000),
                    (5,"Nijatullah Mansoor",25,"Afghanistan",500000),
                    (6,"omar",14,"India",123456)]

In [57]:
# let's import the mysql.connector 

import mysql.connector 
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    
    mysql_insert_query = """
                        insert into staff(
                        id, staff_name, staff_age, staff_address, Monthley_package)
                        values(%s,%s,%s,%s,%s); 
                        """
        
    records_to_insert =[(4,"AMIT",20,"AHMADABAD",12000),
                    (5,"Nijatullah Mansoor",25,"Afghanistan",500000),
                    (6,"omar",14,"India",123456)]
    
    cursor = connection.cursor()
    cursor.executemany(mysql_insert_query,records_to_insert)
    connection.commit()
    print(cursor.rowcount,"Record inserted successfully into Sttaf tabl.")
    cursor.close()
    
except Error as e:
    print("Failed to insert record into staff table  {}".format(e))

finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

3 Record inserted successfully into Sttaf tabl.
MySQL connection is closed

Let's check the result <br><br>
<img src = 'result1.png'>

#### Note:

 - Using cursor.executemany(sql_insert_query, records_to_insert) we are inserting multiple rows (from a List) into the table.
 - Using the cursor.rowcount we can find the number of records inserted.

### Python Select from MySQL Table

We will demonstrates how to select rows of a MySQL table in Python.

You’ll learn the following MySQL SELECT operations from Python using a ‘MySQL Connector Python’ module.

 - Execute the SELECT query and process the result set returned by the query in Python.
 - Use Python variables in a where clause of a SELECT query to pass dynamic values.
 - Use `fetchall()`, `fetchmany()`, and `fetchone()` methods of a cursor class to fetch all or limited rows from a table.

### Table of contents
- Prerequisites
- Steps to fetch rows from a MySQL database table
- Use Python variables as parameters in MySQL Select Query
- Select limited rows from MySQL table using fetchmany and fetchone
   - Example to fetch fewer rows from MySQL table using cursor’s fetchmany
   - Fetch single row from MySQL table using cursor’s fetchone
- Python Fetch MySQL row using the column names

### Prerequisites

Before moving further, Please make sure you have the following in place: –

- Username and password to connect MySQL
- MySQL table name from which you want to select data.<br>


For this lesson, I am using a Employees table present in my MySQL server.

#### Steps to fetch rows from a MySQL database table

1. Connect to MySQL from Python
2. Define a SQL SELECT Query
   - Next, prepare a SQL SELECT query to fetch rows from a table. You can select all or limited rows based on your requirement. If the where condition is used, then it decides the number of rows to fetch.
     For example, `SELECT col1, col2,…colnN FROM MySQL_table WHERE id = 10;`. This will return row number 10.
     
3. Get Cursor Object from Connection
   - Next, use a `connection.cursor()` method to create a cursor object. This method creates a new `MySQLCursor` object.
   
4. Execute the SELECT query using execute() method
   - Execute the select query using the cursor.execute() method.
5. Extract all rows from a result
    - After successfully executing a Select operation, Use the fetchall() method of a cursor object to get all rows from a query result. it returns a list of rows.
6. Iterate each row
    - Iterate a row list using a for loop and access each row individually (Access each row’s column data using a column name or index number.)
    
7. Close the cursor object and database connection object
   - use cursor.clsoe() and connection.clsoe() method to close open connections after your work completes.

### Example

In this example, we are fetching all the rows from the Employees table and copying them into Python variables so we can use it in our program.

In [1]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    

    sql_select_Query = "select * from Employees;"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    # get all records
    records = cursor.fetchall()
    print("Total number of rows in table: ", cursor.rowcount)

    print("\nPrinting each row")
    ## let's print only tow rows. 
    i = 0
    for row in records:
        print("Employ_Id = ", row[0], )
        print("F_Name = ", row[1])
        print("L_Name = ", row[2])
        print("SSN = ", row[3])
        print("B_Date= ", row[4])
        print("Sex = ", row[5])
        print("Address  = ", row[6])
        print("Job_ID = ", row[7])
        print("Salary = ", row[8])
        print("Mnager_ID = ", row[9])
        print("Dep_ID = ", row[10])
        print("\n")
        i = i+1
        if i==2:
            break

except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  10

Printing each row
Employ_Id =  E1001
F_Name =  John
L_Name =  Thomas
SSN =  123456
B_Date=  1976-01-09
Sex =  M
Address  =  5631 Rice, OakPark,IL
Job_ID =  100
Salary =  100000.00
Mnager_ID =  30001
Dep_ID =  2


Employ_Id =  E1002
F_Name =  Alice
L_Name =  James
SSN =  123457
B_Date=  1972-07-31
Sex =  F
Address  =  980 Berry ln, Elgin,IL
Job_ID =  200
Salary =  80000.00
Mnager_ID =  30002
Dep_ID =  5


MySQL connection is closed

## Retrieve data into Pandas
In this step we will retrieve the contents of the `EMPLOYEES` table into a `Pandas dataframe`

In [4]:
import mysql.connector
import pandas as pd      


try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    

    sql_select_Query = "select * from Employees;"
    df = pd.read_sql(sql_select_Query,con=connection)
    print("Data retrive into panda successfully.")
    
    
except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Data retrive into panda successfully.
MySQL connection is closed

In [5]:
#print the entire data frame
df

,EMP_ID,F_NAME,L_NAME,SSN,B_DATE,SEX,ADDRESS,JOB_ID,SALARY,MANAGER_ID,DEP_ID
0,E1001,John,Thomas,123456,1976-01-09,M,"5631 Rice, OakPark,IL",100,100000.0,30001,2
1,E1002,Alice,James,123457,1972-07-31,F,"980 Berry ln, Elgin,IL",200,80000.0,30002,5
2,E1003,Steve,Wells,123458,1980-08-10,M,"291 Springs, Gary,IL",300,50000.0,30002,5
3,E1004,Santosh,Kumar,123459,1985-07-20,M,"511 Aurora Av, Aurora,IL",400,60000.0,30004,5
4,E1005,Ahmed,Hussain,123410,1981-01-04,M,"216 Oak Tree, Geneva,IL",500,70000.0,30001,2
5,E1006,Nancy,Allen,123411,1978-02-06,F,"111 Green Pl, Elgin,IL",600,90000.0,30001,2
6,E1007,Mary,Thomas,123412,1975-05-05,F,"100 Rose Pl, Gary,IL",650,65000.0,30003,7
7,E1008,Bharath,Gupta,123413,1985-05-06,M,"145 Berry Ln, Naperville,IL",660,65000.0,30003,7
8,E1009,Andrea,Jones,123414,1990-07-09,F,"120 Fall Creek, Gary,IL",234,70000.0,30003,7
9,E1010,Ann,Jacob,123415,1982-03-30,F,"111 Britany Springs,Elgin,IL",220,70000.0,30004,5

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

For example you can use the shape method to see how many rows and columns are in the dataframe

In [6]:
df.shape

(10, 11)

In [7]:
df.describe

<bound method NDFrame.describe of   EMP_ID   F_NAME   L_NAME     SSN      B_DATE SEX  \
0  E1001     John   Thomas  123456  1976-01-09   M
1  E1002    Alice    James  123457  1972-07-31   F
2  E1003    Steve    Wells  123458  1980-08-10   M
3  E1004  Santosh    Kumar  123459  1985-07-20   M
4  E1005    Ahmed  Hussain  123410  1981-01-04   M
5  E1006    Nancy    Allen  123411  1978-02-06   F
6  E1007     Mary   Thomas  123412  1975-05-05   F
7  E1008  Bharath    Gupta  123413  1985-05-06   M
8  E1009   Andrea    Jones  123414  1990-07-09   F
9  E1010      Ann    Jacob  123415  1982-03-30   F

                        ADDRESS JOB_ID    SALARY MANAGER_ID DEP_ID
0         5631 Rice, OakPark,IL    100  100000.0      30001      2
1        980 Berry ln, Elgin,IL    200   80000.0      30002      5
2          291 Springs, Gary,IL    300   50000.0      30002      5
3      511 Aurora Av, Aurora,IL    400   60000.0      30004      5
4       216 Oak Tree, Geneva,IL    500   70000.0      30001      2
5        111 Green Pl, Elgin,IL    600   90000.0      30001      2
6          100 Rose Pl, Gary,IL    650   65000.0      30003      7
7   145 Berry Ln, Naperville,IL    660   65000.0      30003      7
8       120 Fall Creek, Gary,IL    234   70000.0      30003      7
9  111 Britany Springs,Elgin,IL    220   70000.0      30004      5  >

### Use Python variables as parameters in MySQL Select Query
We often need to pass variables to SQL select query in where clause to check some conditions.
Let’s say the application wants to fetch employees salary by giving any employee id at runtime. To handle such a requirement, we need to use a parameterized query.

A `parameterized query` is a query in which placeholders `(%s)` are used for parameters and the parameter values supplied at execution time.

`cursor.execute("SELECT SALARY FROM EMPLOYEE WHERE EMP_ID = "ID from application")`

In [14]:
import mysql.connector

def get_employee_dettails(emp_id):
    
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='mydb',
                                             user='nijat',
                                             password='nijat123')
        cursor = connection.cursor()
        sql_select_query = """ SELECT * FROM EMPLOYEES WHERE EMP_ID = %s; """
        cursor.execute(sql_select_query,(emp_id,))
        #fetch the result. 
        record = cursor.fetchall()
        for row in record:
            print("Employ_Id = ", row[0], )
            print("F_Name = ", row[1])
            print("L_Name = ", row[2])
            print("SSN = ", row[3])
            print("B_Date= ", row[4])
            print("Sex = ", row[5])
            print("Address  = ", row[6])
            print("Job_ID = ", row[7])
            print("Salary = ", row[8])
            print("Mnager_ID = ", row[9])
            print("Dep_ID = ", row[10])
            print("\n")
        
        
    except mysql.connector.Error as e:
        print("Error reading data from MySQL table", e)
    finally:
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")

Now let's call the get_employee_details() function.

In [15]:
get_employee_dettails('E1001')

Employ_Id =  E1001
F_Name =  John
L_Name =  Thomas
SSN =  123456
B_Date=  1976-01-09
Sex =  M
Address  =  5631 Rice, OakPark,IL
Job_ID =  100
Salary =  100000.00
Mnager_ID =  30001
Dep_ID =  2


MySQL connection is closed

### Select limited rows from MySQL table using fetchmany and fetchone
In some situations, fetching all the rows from a table is a time-consuming task if a table contains thousands of rows.

If we fetch all rows, we need more space and processing time. So it is essentials to use the `fetchmany()` method of cursor class to fetch fewer rows.

<b>Syntax of the cursor’s fetchmany()</b>

`rows = cursor.fetchmany(size=row_size)`


Cursor’s fetchmany() methods return the number of rows specified by size argument, defaults value of size argument is one. For example, if the specified size is 5, then it returns five rows.

`Note: If a table contains a row lesser than the specified size, then fewer rows are returned.`

<b>Syntax of fetchone()</b>

`row = cursor.fetchone()`

This method fetches the next set of rows of a query result and returns a list of tuples. If no more rows are available, it returns an empty list.

This method returns a single record or None if no more rows are available.

The `fetchone()` method is internally used by a `fetchall()` and `fetchmany()` to fetch rows.

### Example to fetch fewer rows from MySQL table using cursor’s fetchmany

In [18]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    

    sql_select_Query = "select * from Employees;"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    # get all records
    number_of_row = 4
    records = cursor.fetchmany(number_of_row)
    print("Total number of rows in table: ", cursor.rowcount)
    print("Printing ", number_of_row, " Employee record using cursor.fetchmany")
    for row in records:
        print(row)

except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  4
Printing  4  Employee record using cursor.fetchmany
('E1001', 'John', 'Thomas', '123456', datetime.date(1976, 1, 9), 'M', '5631 Rice, OakPark,IL', '100', Decimal('100000.00'), '30001', '2')
('E1002', 'Alice', 'James', '123457', datetime.date(1972, 7, 31), 'F', '980 Berry ln, Elgin,IL', '200', Decimal('80000.00'), '30002', '5')
('E1003', 'Steve', 'Wells', '123458', datetime.date(1980, 8, 10), 'M', '291 Springs, Gary,IL', '300', Decimal('50000.00'), '30002', '5')
('E1004', 'Santosh', 'Kumar', '123459', datetime.date(1985, 7, 20), 'M', '511 Aurora Av, Aurora,IL', '400', Decimal('60000.00'), '30004', '5')

### Fetch single row from MySQL table using cursor’s fetchone

In [19]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    

    sql_select_Query = "select * from Employees;"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    record = cursor.fetchone()
    print("Total number of rows in table: ", cursor.rowcount)
    print(record)

except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  1
('E1001', 'John', 'Thomas', '123456', datetime.date(1976, 1, 9), 'M', '5631 Rice, OakPark,IL', '100', Decimal('100000.00'), '30001', '2')

### Python Fetch MySQL row using the column names
You can also retrieve result using columns names instead of id. For example, you would like to do something like this.
<code>
records = cursor.fetchall()
for row in records:
    val1 = row["columnName1"],)
    val2 = row["columnName2"])
    val3 = row["columnName3"])
</code>

If you try to fetch data using column name directly, you will receive a `TypeError: tuple indices must be integers or slices, not str`.

To select records from my MySQL table using a column name, we only need to change the cursor creation. Replace the standard cursor creation with the following code, and you are ready to fetch records from my MySQL table using a column name.

`cursor = connection.cursor(dictionary=True)`

Why set `dictionary=True`? because MySQLCursorDict creates a cursor that returns rows as dictionaries so we can access using column name (here column name is the key of the dictionary)

In the following example, I have selected all the records from my MySQL table using a column name instead of the column’s integer index.

In [25]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    

    sql_select_Query = "select * from Employees;"
    # MySQLCursorDict creates a cursor that returns rows as dictionaries
    cursor = connection.cursor(dictionary=True)
    cursor.execute(sql_select_Query)
    # get all records
    records = cursor.fetchall()
    print("Total number of rows in table: ", cursor.rowcount)


    print("Fetching each row using column name")
    ## let's print only tow rows. 
    i = 0
    for row in records:
        print("Employ_Id = ", row['EMP_ID'])
        print("F_Name = ", row['F_NAME'])
        print("L_Name = ", row['L_NAME'])
        print("SSN = ", row['SSN'])
        print("B_Date= ", row['B_DATE'])
        print("Sex = ", row['SEX'])
        print("Address  = ", row['ADDRESS'])
        print("Job_ID = ", row['JOB_ID'])
        print("Salary = ", row['SALARY'])
        print("Mnager_ID = ", row['MANAGER_ID'])
        print("Dep_ID = ", row['DEP_ID'])
        print("\n")
        i = i+1
        if i==2:
            break

except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  10
Fetching each row using column name
Employ_Id =  E1001
F_Name =  John
L_Name =  Thomas
SSN =  123456
B_Date=  1976-01-09
Sex =  M
Address  =  5631 Rice, OakPark,IL
Job_ID =  100
Salary =  100000.00
Mnager_ID =  30001
Dep_ID =  2


Employ_Id =  E1002
F_Name =  Alice
L_Name =  James
SSN =  123457
B_Date=  1972-07-31
Sex =  F
Address  =  980 Berry ln, Elgin,IL
Job_ID =  200
Salary =  80000.00
Mnager_ID =  30002
Dep_ID =  5


MySQL connection is closed

## Python Update MySQL Table
We will demonstrates how to execute a `MySQL UPDATE query` from Python to modify the MySQL table’s data.

### Table of contents
- Prerequisite
- Example to Update a row of MySQL Table
- Use a Python variable in MySQL Update query
- Update Multiple Rows of MySQL Table using Python
  - Python update multiple Columns of MySQL table
- Update Datetime and timestamp column of a MySQL table from Python

#### Prerequisite 
- Username and password that you need to connect MySQL
- MySQL database table name which you want to update

### Example to Update a row of MySQL Table
To perform a SQL UPDATE query from Python, you need to follow the following steps: –
  1. Connect to MySQL from Python
  2. Prepare a SQL Update Query
     - Prepare an update statement query with data to update. FOr example, `UPDATE table_name SET column1 = value1, column2 = value2 WHERE condition`;
  3. Execute the UPDATE query, using `cursor.execute()`
     - Execute the UPDATE query using c`ursor.execute()` method. This method execute the operation stored in the UPDATE query.
  4. Commit your changes
     - Make modification persistent into a database using the commit() of a connection class.
     
  5. Extract the number of rows affected
     - After a successful update operation, use a `cursor.rowcount` method to get the number of rows affected. The count depends on how many rows you are updating.
 6. Verify result using the SQL SELECT query
 7. Close the cursor object and database connection object
       - use cursor.clsoe() and connection.clsoe() method to close open connections after your work completes.

Let’s see the program now. In this program, we are updating a Employee table by changing the Salary column of the first row.

In [33]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    

    sql_select_query = """select * from Employees Where EMP_ID = 'E1001';"""
    # MySQLCursorDict creates a cursor that returns rows as dictionaries
    cursor = connection.cursor(dictionary=True)
    cursor.execute(sql_select_query)
    record = cursor.fetchall()
    print("Before updating the record.")
    for row in record:
        print("EMP_ID",row['EMP_ID'])
        print("Salary:",row['SALARY'])

    # let's update the salary for the employee with the id E10001
    sql_update_query = """ update employees set SALARY = 200000 where EMP_ID = 'E1001';"""
    cursor.execute(sql_update_query)
    connection.commit()
    
    sql_select_query = """select * from Employees Where EMP_ID = 'E1001';"""
    # MySQLCursorDict creates a cursor that returns rows as dictionaries
    cursor = connection.cursor(dictionary=True)
    cursor.execute(sql_select_query)
    record1 = cursor.fetchall()
    print("After updating the record.")
    for row in record1:
        print("EMP_ID",row['EMP_ID'])
        print("Salary:",row['SALARY'])
        
        
except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Before updating the record.
EMP_ID E1001
Salary: 100000.00
After updating the record.
EMP_ID E1001
Salary: 200000.00
MySQL connection is closed

### Use a Python variable in MySQL Update query
Sometimes we need input from the user, such as when users update their password or any other details through User Interface. Or when you want to update details dynamically by passing Python variables into a query. Such as setting column value using the variable.

It is always best practice to use parameterized query and prepared statement, i.e., placeholders ( %s ) inside any SQL statements that contain input from users. This helps us prevent SQL injection and other SQL issues.

## Example

In [40]:
import mysql.connector

def update_employee_dettails(emp_id,address):
    
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='mydb',
                                             user='nijat',
                                             password='nijat123')
        cursor = connection.cursor()
        sql_update_query = """ UPDATE EMPLOYEES SET ADDRESS = %s WHERE EMP_ID = %s; """
        #input_date = (address,emp_id)
        #cursor.execute(sql_update_query,input_date)
        cursor.execute(sql_update_query,(address,emp_id))
        connection.commit()
        print("Record Updated successfully ")
        
    
        
    except mysql.connector.Error as e:
        print("Error reading data from MySQL table", e)
    finally:
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")

Now let's call the update_employee_details functions.

In [41]:
update_employee_dettails("E1001","Kabul Afghanistan")

Record Updated successfully
MySQL connection is closed

Let's see the result 

<img src = 'result2.png'>

Let’s understand the above program: –
- We used the prepared statement to accept user input using a placeholder, i.e., we put two placeholders in the update query, one for the Address column and the other is for the” Emp_id” column.
- Next, we added those two columns value in the tuple format in sequential order and passed SQL update query and input tuple to the `cursor.execute()` method. Remember tuple contains user data in the sequential order of placeholders.
- In the end, we are committing our changes to the database using the `connection.commit()`.

### Update Multiple Rows of MySQL Table using Python

It is possible to update multiple rows in a single SQL Query. You can also call it a bulk update. Use the `cursor.executemany()` method of cursor object to update multiple rows of a table.

The syntax of the `executemany()` method

`cursor.executemany(operation, seq_of_params)`
This method executes operation against all parameter sequences in the sequence `seq_of_params` argument.

In [45]:
try:
    connection = mysql.connector.connect(host='localhost',
                                             database='mydb',
                                             user='nijat',
                                             password='nijat123')
    cursor = connection.cursor()
    sql_update_query = """ UPDATE EMPLOYEES SET ADDRESS = %s WHERE EMP_ID = %s; """
    input_date = [("India Bangalore",'E1008'),("India, Goa",'E1009')]
    #cursor.execute(sql_update_query,input_date)
    cursor.executemany(sql_update_query,input_date)
    connection.commit()
    print("Record Updated successfully ")
    print(cursor.rowcount, "Records of a laptop table updated successfully")
        
    
        
except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Record Updated successfully
0 Records of a laptop table updated successfully
MySQL connection is closed

let's see the result. 

<img src ='result3.png'>

### Python update multiple Columns of MySQL table

its almost same as to update a single row in table just change the sql query

In [51]:
try:
    connection = mysql.connector.connect(host='localhost',
                                             database='mydb',
                                             user='nijat',
                                             password='nijat123')
    address = "Us Virginia"
    sex = 'M'
    salary = 5000000
    emp_id = 'E1001'
    
    update_data = (address,sex,salary,emp_id)
    cursor = connection.cursor()
    sql_update_query = """ UPDATE EMPLOYEES SET ADDRESS = %s, SEX = %s, SALARY = %s WHERE EMP_ID = %s;"""
    cursor.execute(sql_update_query,update_data)
    connection.commit()
    print("Record Updated successfully ")
    print(cursor.rowcount, "Records of a laptop table updated successfully")
        
    
        
except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Record Updated successfully
1 Records of a laptop table updated successfully
MySQL connection is closed

let's check the result. 

<img src = 'result4.png'>

### Update Datetime and timestamp column of a MySQL table from Python

Suppose you have a date column in a MySQL table and you want to update a datetime.datetime() object into this column. Let’s see how to prepare an update query to update the datetime column of a table

In [53]:
import mysql.connector
from datetime import datetime

try:
    connection = mysql.connector.connect(host='localhost',
                                             database='mydb',
                                             user='nijat',
                                             password='nijat123')
  
    emp_id = 'E1001'
    current_Date = datetime.now()
    formatted_date = current_Date.strftime('%Y-%m-%d %H:%M:%S')
    
    update_data = (formatted_date,emp_id)
    cursor = connection.cursor()
    sql_update_query = """ UPDATE EMPLOYEES SET B_DATE = %s WHERE EMP_ID = %s;"""
    cursor.execute(sql_update_query,update_data)
    connection.commit()
    print("Record Updated successfully ")
    print(cursor.rowcount, "Records of a laptop table updated successfully")
        
    
        
except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Record Updated successfully
1 Records of a laptop table updated successfully
MySQL connection is closed

let's check the result 

<img src='result5.PNG'>

### Python Delete data from MySQL Table

We will demonstrates how to execute the SQL DELETE query from Python to delete data from a MySQL database table.
### Table of contents
- Prerequisites
- Python Example to Delete a Single Row from a MySQL table
- Use Python Variable in a SQL query to delete data from the table
- Python Delete Multiple Rows from a MySQL Table
- Delete All rows from a table in Python
- Delete MySQL Table and Database from Python
- Delete MySQL Table column from Python


#### Prerequisites
- Username and password to connect MySQL
- MySQL table name in which you want to insert data.

### Python Example to Delete a Single Row from a MySQL table

  1. Connect to MySQL from Python
  2. Prepare a SQL Delete Query
     - Next, prepare a SQL delete query to delete a row from a table. Delete query contains the row to be deleted based on a condition placed in where clause of a query.
       For example, `DELETE FROM MySQL_table WHERE id=10;`.
  3. Get Cursor Object from Connection
     - Next, use a `connection.cursor()` method to create a cursor object. This method creates a new `MySQLCursor` object.
  4. Execute the delete query using `execute()` method
     - Execute the delete query using the `cursor.execute()` method. This method executes the operation stored in the delete query.
        After a successful delete operation, the `execute()` method returns us the number of rows affected.
     
  5. Commit your changes
     - After successfully executing a delete operation, make changes persistent into a database using the `commit()` of a connection class.
  6. Get the number of rows affected
      - Use a cursor.rowcount method to get the number of rows affected. The count depends on how many rows you are deleting.
 7. Verify result using the SQL SELECT query
 
 8. Close the cursor object and database connection object
       - use `cursor.clsoe()` and `connection.clsoe()` method to close open connections after your work completes.

let's delete the following row from table. 

<img src = 'result6.png'>

We will delete the recored from the employee table with the id `E1005`.

In [54]:
import mysql.connector

try: 
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    cursor = connection.cursor()
    sql_delete_query = """ DELETE FROM EMPLOYEES WHERE EMP_ID = %s;"""
    emp_id = 'E1005'
    cursor.execute(sql_delete_query,(emp_id,))
    connection.commit()
    print("Record Deleted successfully ")
except mysql.connector.Error as error:
    print("Failed to Delete record from table: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Record Deleted successfully
MySQL connection is closed

Now let's look at the result

<img src='result7.png'>

We can see that we don't have record witht the EMP_ID = 'E1005'.

### Python Delete Multiple Rows from a MySQL Table

Sometimes we need to delete an N-number of rows that match a specific condition. For example, you want to delete employee data from the employee table who left the organization. You can delete multiple rows from the MySQL table using a single delete SQL Query in Python.

Now let's delete the employees with the EMP_ID E1006 and E1007, from the employee table.

In [55]:
import mysql.connector

try: 
    connection = mysql.connector.connect(host='localhost',
                                         database='mydb',
                                         user='nijat',
                                         password='nijat123')
    cursor = connection.cursor()
    sql_delete_query = """ DELETE FROM EMPLOYEES WHERE EMP_ID = %s;"""
    records_to_delete = [('E1006',),('E1007',)]
    cursor.executemany(sql_delete_query,records_to_delete)
    connection.commit()
    print(cursor.rowcount," Record Deleted successfully. ")
except mysql.connector.Error as error:
    print("Failed to Delete record from table: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

2  Record Deleted successfully.
MySQL connection is closed

Now let's look at the result

<img src='result8.png'>

We can see that we don't have record witht the EMP_ID = 'E1006' and E1007.

Similarly we can do the following in the same manaer just change the query. 
- Delete All rows from a table in Python
- Delete MySQL Table and Database from Python
- Delete MySQL Table column from Python

### Python Execute MySQL Stored Procedure

We will demonstrate how to execute `MySQL stored procedures` in Python.

### Table of contents
- Prerequisites
- Steps to execute MySQL Stored Procedure in Python
- Cursor callproc() Method
#### Prerequisites
- uername and password that you need to connect to MySQL
- MySQL stored procedure name which you want to call.

 I have created a stored procedure get_employees under the “mydb” database. This procedure fetches employees details from the Laptop table based on the laptop id passed as an IN parameter.
 
`open the MySQL console and run the below query to create a MySQL Stored Procedure`.

<code>
DELIMITER //

CREATE PROCEDURE GetAllEmployys()
BEGIN
	SELECT *  FROM employees;
END //

DELIMITER ;</code>

## Steps to execute MySQL Stored Procedure in Python
1. Connect to MySQL from Python
     - Refer to Python MySQL database connection to connect to MySQL database from Python using MySQL Connector module

2. Get Cursor Object from Connection
     - Next, use a connection.cursor() method to create a cursor object. This method creates a new MySQLCursor object.

 3. Execute the stored procedure
       - Execute the stored procedure using the `cursor.callproc()`. here, you must know the stored procedure name and its IN and OUT parameters. For example, `cursor.callproc('get_employee',[1,])`

4. Fetch results
    - Once the stored procedure executes successfully, we can extract the result using a `cursor.stored_results()`

5. Close the cursor object and database connection object
     - use `cursor.clsoe()` and `connection.clsoe()` method to close open connections after your work completes.

In [62]:
import mysql.connector


    
try:
    connection = mysql.connector.connect(host='localhost',
                                             database='mydb',
                                             user='nijat',
                                             password='nijat123')
    cursor = connection.cursor()
        
    cursor.callproc('GetAllEmployys')
    # print results
    print("Printing employees details")
    for result in cursor.stored_results():
        print(result.fetchone())
        
    
        
except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Printing employees details
('E1001', 'John', 'Thomas', '123456', datetime.date(2021, 7, 14), 'M', 'Us Virginia', '100', Decimal('5000000.00'), '30001', '2')
MySQL connection is closed

### Cursor callproc() Method

### Syntax

result_args = cursor.callproc(proc_name, args=())
The `callproc()` method calls the stored procedure mentioned in the `proc_name` argument. The args sequence of parameters must contain one entry for each argument that the procedure expects. For example, the procedure can have one or many IN and OUT parameters.

The callproc() returns a modified copy of the input sequence. This method doesn’t change the input parameters. However, It can replace the output and input/output parameters with new values as per the execution result.

The stored procedure returns the output in result sets, and It is automatically fetched and stored as MySQLCursorBuffered instances.

For example, a stored procedure “addition” takes two parameters, adds the values, and returns the sum.

<code>
CREATE PROCEDURE add_num(IN num1 INT, IN num2 INT, OUT sum INT)
BEGIN
SET sum := num1 + num2;
END;
</code>`

# Thank you 
for more to explore please visite <a href='https://pynative.com/python-database-connection-pooling-with-mysql/'>This</a>.